.btn-cancelar{
    background-color: white;
    border-color: black;
    color: black;
    margin-top: 10px;
}

.btn-cancelar:hover {
    background-color: black;
    color: white;
}
.btn-pagar{
    background-color: white;
    border-color: black;
    color: black;
    margin-top: 10px;
}
